
<p id="notice"><%= notice %></p>


<h1>Contatos <span class="badge badge-pill badge-dark">Lista</span> </h1>

<%= form_tag(contatos_path, :method => :get) do %>
<%= text_field_tag 'search', nil, placeholder: 'Buscar contato'%>
<%= submit_tag "Buscar" %>
<% end %>



<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Celular</th>
       <th class= 'text-right'</th>
    </tr>
<br>
  </thead>

  <tbody >
    <% @contatos.each do |contato| %>
      <tr>
        <td><%= contato.nome %></td>
        <td><%= contato.email %></td>
        <td><%= contato.celular %></td>
        <td><%= link_to 'Detalhes', contato, class: 'btn btn-info' %>
        <%= link_to 'Editar', edit_contato_path(contato) , class: 'btn btn-info'%>
        <%= link_to 'Excluir', contato_path(contato.id), method: :delete, data: { confirm: 'Você tem certeza?' } , class: 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Contato', new_contato_path , class: 'btn btn-info'%>
