<p id="notice"><%= notice %></p>

<h1>Contatos <span class="badge badge-pill badge-dark">Detalhes</span> </h1>
<p>
  <strong>Nome:</strong>
  <%= @contato.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contato.email %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @contato.celular %>
</p>

<p>
  <strong>Foto contato:</strong>

</br>

  <%= image_tag @contato.avatar.url(:medium) %>
</p>



<%= link_to 'Edit', edit_contato_path(@contato) , class: 'btn btn-info'%> 
<%= link_to 'Back', contatos_path, class: 'btn btn-info' %>
