<!DOCTYPE html>
<html>
  <head>
    <title>Agenda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" <%= link_to 'AGENDA', contatos_path %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" <%= link_to 'Home', contatos_path %></a>
      </li>
      <li>  <a class="nav-link"  <%= link_to 'Novo Contato', new_contato_path %> </li>
     
      
    </ul>
  
   
  <% if user_signed_in? %> 
  <span class="text-white bg-dark"> <%= current_user.email %></span>
         <div class="nav justify-content-end" id="navbarsExample03"> 
           <ul class="navbar-nav mr-auto"> 
              <li><a class="nav-link" <%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
           </ul>
         </div>
  
  <% else %>
       <div class="nav justify-content-end" id="navbarsExample03">
          <ul class="navbar-nav mr-auto">
              <li><a class="nav-link" <%= link_to 'Cadastrar Usuario', new_user_registration_path %></a></li>
              <li><a class="nav-link" <%= link_to 'Login', new_user_session_path %></a> </li>
             
          </ul>   
       </div>
          
<% end %>
   </div>
</nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>